<!DOCTYPE html> 

{% load staticfiles %}

<html>

    <head>
        <title>pets-for-students</title>
    </head>

    <body>
        <div>
            <img src="{% static 'images/cats_with_fire.jpg' %}"
                alt="Picture of two Cats with fire" />
        </div>
        <h1>All the cats are:</h1> 
        <div>
            hey there partner! <br /> 
            <strong>{{ boldmessage }}</strong><br />
        </div> 
        <div>
            <a href="/pets_for_students/">Home</a><br />
        </div>
    </body>

</html>
